{% load static %}
  
   <!-- Navbar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="#" target="_blank">
        <strong>WinniT</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-user-check"></i>
              <span class="sr-only">(current)</span>
            </a>
        </li>
        </ul>
        <!---->

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/" class="nav-link" target="_blank">
              <i class="fab fa-facebook-f"></i><em>Facebook</em>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i><em>Twitter</em>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/virsail/" class="nav-link border border-light rounded"
              target="_blank">
              <i class="fab fa-github mr-2"></i><em>GitHub</em>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">

          <!--Video source-->
          <video class="video-fluid z-depth-1" autoplay loop controls muted>
            <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
          </video>
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="prefect">
              <p>Win</p>
              <div class="container">
                <div class="row">
                 <div class="col-md-3">
                     <img src="./css/assests/facebook.png" alt="facebook logo">
                     <p>Slice of heaven</p>
                 </div>
                 <div class="col-md-3">
                     <img src="./css/assests/pinterest.png" alt="pinterest icon">
                     <p>Slice of heaven</p>
                 </div>
                 <div class="col-md-3">
                     <img src="./css/assests/twitter.png" alt="twitter icon">
                     <p>@Slice_of_heaven</p>
                 </div>
                 <div class="col-md-3">
                     <img src="./css/assests/you_tube.png" alt="youtube icon">
                     <p>Slice of heaven fam</p>
                 </div>
        </div>
        </div>
            </div>
            <li class="circle-note-progress style-design" data-note="">
              <div class="circle">
                  <div class="des">
                      <p class="d-block mx-auto textrate">{{rating.design_average}}</p>
                  </div>
              </div>
              data-note="{{rating.usability_average}}">
              <div class="circle">
                  <div class="des1">
                      <p class="d-block mx-auto textrate">{{rating.usability_average}}</p>
                  </div>
              </div>
            <!-- Content -->

          </div>
        
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->
    </div>
      <!-- <hr> -->

      </div>
    <!--/.Slides-->
  <!--Main layout-->

  
