{% load static %}
  
   <!-- Navbar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'page' %}"><i class="fas fa-home"></i> 
        <strong>WinniT Home Page</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'page' %}"><i class="fa fa-history" aria-hidden="true"></i>
              <strong style="font-size: larger; color:greenyellow;">Recently posted Websites</strong>
      
            </a>
        </li>
        {% if user.is_authenticated %}
        
        {% endif %}
      
        </ul>
        <!--search form-->
        {% if user.is_authenticated %}
        <form class="form-inline" action="{% url 'search_results' %}">
          <div class="md-form my-1">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
          </div>
        </form>
        {% endif %}

        <div class="col-sm-6 col-lg-6 d-flex justify-content-end">
          {% if user.is_authenticated %}
          <ul><li class="nav-item">
            <div class="jok">
              <a class="text-white btn btn-outline-dark" href="{%url 'new-project'%}"><i class="fa fa-paper-plane" aria-hidden="true"></i>SUBMIT YOUR WEBSITE </a>
              </div>
            </li></ul>
          <ul>
            <li class="dropdown list-unstyled text-white">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user" style="color: yellow;"></i> My Account </a>
              <ul class="dropdown-menu dropdown-default" role="menu">
                <li>
                    <a class="dropdown-item" href="{%url 'profile'%}">Profile</a>
                  </li>
                <li>
                  <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li class="list-unstyled">
            <div id="chapa">
              <a class="btn btn-sm btn-default" href="/accounts/login" style="font-size: 15px; color: white;"style="color: yellow;"><i class="fas fa-sign-in"></i>Login</a></i>Login</a>
              </div>
              <div id="chapa1">
              <a class='btn btn-sm btn-default ' href="/accounts/register"style="font-size: 15px;"><i class="fas fa-user-plus"></i>Register</a>
              </div>
          </li>
          </div>
          </div>

          {% endif %}
    </div>
    

</div>
<!-- Collapsible content -->
</nav>
<!--/Navbar-->


        
           
  <!-- Navbar -->

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">

          <!--Video source-->
          <video class="video-fluid z-depth-1" autoplay loop controls muted>
            <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
          </video>
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="prefect">
              <h1>Awwards Website<br>BY VIRSAIL MBAGAYA FROM KENYA WITH 8.78</h1>
              <div class="container">
                <div class="row">
                 <div class="col-md-3">
                    <li class="nav-item">
                      <div id="choppa">
                      <a href="https://twitter.com/" class="nav-link" target="_blank">
                        <i class="fab fa-twitter"></i><em>Twitter</em>
                      </a>
                    </div>
                    </li>
                 </div>
                 <div class="col-md-3">
                     <li class="nav-item">
                      <div id="choppa1">
                      <a href="https://www.facebook.com/" class="nav-link" target="_blank">
                        <i class="fab fa-facebook-f"></i><em>Facebook</em>
                      </a>
                      </div>
                    </li>
                 </div>
                 <div class="col-md-3">
                     <li class="nav-item">
                      <div id="choppa2">
                      <a href="https://github.com/virsail/" class="nav-link border border-light rounded"
                        target="_blank">
                        <i class="fab fa-github mr-2"></i><em>GitHub</em>
                      </a>
                    </div>
                    </li>
                     </div>
                    
                 </div>
                 </div>
                 </div>
        
        
            <!-- Content -->

          </div>
        
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->
    </div>
      <!-- <hr> -->

      </div>

  
