{%extends "online/base.html"%}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid mb-4 pb-4" style="height: 100%;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4 pt-2 ">
      <div class="migos">
      <h2 style="text-align: center;"> Your Profile</h2>
            <div class="pb-2">
                {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="" class="img-thumbnail" style="width: 200px;">
            {% else %}
            <img src="https://source.unsplash.com/1600x900/?nature,water" alt="" class="img-thumbnail" style="width: 200px;">
              {% endif %}
                <h4> <span class="font-weight-bold"> Username:</span>  {{user.username}} </h4>
        <p> <span class="font-weight-bold"> Bio:</span> {{ user.profile.bio}}  </p>
        <p> <span class="font-weight-bold"> Email:</span>  {{user.email}} </p>
        </div>
        <h4 class="font-weight-bold"></h4>
        <hr>
        {% if projects %}
        {% for project_item in projects%}
        <a href="/project/{{project_item.id}}"><img src="{{ project_item.project_image.url }}" alt="" class="img-thumbnail" style="width: 250px; height: 250px;"></a>
        {% endfor %}

        {% else %}
        <p></p>
        {% endif %}
        
    </div>
    <!-- empty div -->
    <div class="col-lg-2"></div>

  </div>
  </div>
</div>


  {% endblock %}